* {
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.myHeader {
  font-size: 25px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 2px;
}

.main-content {
  margin: 140px 0;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(img/Header-llustration-desktop.svg);
  background-repeat: no-repeat;
  background-position: 42% 50px;
  padding: 10px;
  background-size: 100%;
  background-clip: border-box;
}

#firstPara,
#secondPara,
#supportingPara {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 20px;
}

#firstPara {
  margin-top: 100px;
  margin-bottom: -5px;
}

#secondPara {
  color: #36b37e;
}

#supportingText {
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
  margin: 24px 0;
  flex-grow: 0;
  width: 500px;
  justify-content: center;
}

.social-media-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media-links ul {
  display: flex;
  list-style: none;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.secondSection {
  height: 100%;
  width: 100%;
}

.secondSection img {
  border: none;
  background-color: #fff0;
}

#scrollDown {
  background-color: #fff0;
  border: none;
}

.my-recent-works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "project project project"
    "project project project"
    "project project project";
  grid-gap: 10px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 26px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.work-background {
  background-color: #ebf0ee;
  height: 252px;
  width: 100%;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.project .work-title {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-weight: 600;
  font-size: 24px;
}

.categories {
  display: flex;
  justify-content: center;
}

.categories ul {
  display: flex;
  gap: 10px;
  padding: 0;
}

.categories ul li {
  text-align: center;
  list-style: none;
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

button {
  width: 98px;
  background-color: #36b37e;
  border: none;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  margin-bottom: 10px;
}

button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(img/about-me-left.png), url(img/about-me-right.png);
  background-repeat: no-repeat;
  background-position: 0% 29%, 185% -8%;
  background-size: 15%, 99%;
  background-clip: border-box;
}

.about-me h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-bottom: 24px;
}

.about-me p {
  font-family: 'Inter', sans-serif;
  width: 46%;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #42526e;
  margin-bottom: 24px;
}

#get-my-resume {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  background-color: #36b37e;
  border: none;
  margin-bottom: 52px;
}

#get-my-resume:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  margin-bottom: 4%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 352px;
  width: 369px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.card-img {
  width: 48px;
  height: 48px;
  margin: 56px 160px 5px 161px;
  border: 20px solid white;
  border-radius: 100px;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
}

.card-paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #344563;
}

.card-categories {
  display: flex;
  justify-content: center;
}

#card-list {
  display: flex;
  list-style: none;
  gap: 32px;
  padding: 0;
}

#card-list li {
  text-align: center;
  background-color: white;
  border-radius: 8px;
  color: #36b37e;
  font-weight: 600;
  font-size: 12px;
  padding: 12px;
  margin-bottom: 84px;
}

.frameworks-categories {
  display: flex;
  justify-content: center;
}

#frameworks-list {
  display: flex;
  list-style: none;
  column-gap: 25px;
  row-gap: 2px;
  padding: 0;
  width: 315px;
  flex-wrap: wrap;
  justify-content: center;
}

#frameworks-list li {
  text-align: center;
  background-color: white;
  border-radius: 8px;
  color: #36b37e;
  font-weight: 600;
  font-size: 12px;
  padding: 12px;
  white-space: nowrap;
  margin-bottom: 11px;
}

.skills-categories {
  display: flex;
  justify-content: center;
}

#skills-list {
  display: flex;
  list-style: none;
  column-gap: 25px;
  row-gap: 2px;
  padding: 0;
  width: 315px;
  flex-wrap: wrap;
  justify-content: center;
}

#skills-list li {
  text-align: center;
  background-color: white;
  border-radius: 8px;
  color: #36b37e;
  font-weight: 600;
  font-size: 12px;
  padding: 12px;
  white-space: nowrap;
  margin-bottom: 11px;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 890px;
  margin-top: -10%;
  background: url(img/contact/frame1.png), url(img/contact/frame2.png), url(img/contact/frame3.png); 
  background-repeat: no-repeat;
  background-size: 17%, 12%, 17%;
  background-position: -2% 110%, 34% 93%, 100% 100%;
}

h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  max-width: 46%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form input {
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  width: 327px;
  height: 48px;
  width: 684px;
  margin-bottom: 24px;
}

form input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

form textarea {
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  width: 684px;
}

form textarea::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #dfe1e6;
}
.social-media-links-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.social-media-links ul {
  display: flex;
  
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .main-content {
    margin-bottom: 0;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .myHeader {
    padding: 5%;
    margin-top: 2%;
  }

  .firstSection {
    padding: 10px;
    background-size: 185%;
    background-clip: border-box;
  }

  #firstPara {
    margin-top: 100px;
    margin-bottom: 1px;
  }

  #firstPara,
  #supportingPara {
    width: 50%;
  }

  #secondPara {
    width: 40%;
    line-height: 100%;
  }

  #supportingText {
    width: 57%;
  }

  .my-recent-works {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "project";
    row-gap: 0;
  }

  .project {
    margin: 12% 4% -5% 4%;
  }

  .about-me {
    background-position: 0% 16%, 185% 0%;
    margin-top: 15%;
  }

  .about-me h3 {
    margin-top: 10px;
  }

  .about-me p {
    width: 43%;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "card";
    row-gap: 3%;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-position: -20% 110%, -20% 93%, 103% 100%;
  }

  .contact h5 {
    max-width: 49%;
  }

  form input {
    width: 327px;
    height: 48px;
  }

  form textarea {
    width: 327px;
    height: 114px;
  }

  form button {
    margin: 20px auto;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  h6 {
    font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 330px;
  color: #42526e;
  }
}
