* { 
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.myHeader {
  font-size: 25px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 2px;
}

.main-content {
  margin: 140px 0;
  padding: 40px 0;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(img/Header-llustration-desktop.svg);
  background-repeat: no-repeat;
  background-position: 42% 50px;
  padding: 10px;
  background-size: 100%;
  background-clip: border-box;
}

#firstPara,
#secondPara,
#supportingPara {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 20px;
}

#firstPara {
  margin-top: 100px;
}

#secondPara {
  color: #36b37e;
}

#supportingText {
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
  margin: 24px 0;
  flex-grow: 0;
  width: 500px;
  justify-content: center;
}

.social-media-links {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media-links ul {
  display: flex;
  list-style: none;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.secondSection {
  height: 100%;
  width: 100%;
}

.secondSection img {
  border: none;
  background-color: #ffffff00;
}

#scrollDown {
  background-color: #ffffff00;
  border: none;
}

.my-recent-works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "project project project"
  "project project project"
  "project project project";
  grid-gap: 10px;
}

.project {
  height: 621px;
  width: 369px;
  padding: 10px;
  justify-self: center;
}

#work-background {
  background-color: #ebf0ee;
  height: 252px;
  width: 100%;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.project #work-title {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-weight: 600;
  font-size: 24px;
}

.categories {
  display: flex;
  justify-content: center;
}

.categories ul {
  display: flex;
  gap: 10px;
  padding: 0;
}

.categories ul li {
  text-align: center;
  list-style: none;
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.project button {
  width: 98px;
  background-color: #36b37e;
  border: none;
  border-radius: 4px;
  padding: 12px;
}

@media all and (max-width: 600px) {
  .firstSection {
    background-position: 42% 70%;
    padding: 10px;
    background-size: 185%;
    background-clip: border-box;
  }

  #firstPara {
    margin-top: 100px;
    margin-bottom: 1px;
  }

  #firstPara,
  #supportingPara {
    width: 190px;
  }

  #secondPara {
    width: auto;
    line-height: 40px;
  }

  #supportingText {
    width: 300px;
  }
}
